{% extends 'base.html' %}
{% load static %}

{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}

{% block contenido %}
<div class="main-container text-center mt-3" style="background-color: #f7f7f7; padding: 40px; border-radius: 12px;">
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="overlay">
            <div class="con">
                <header class="head-form">
                    <h2>Agregar destino</h2>
                    <p>Ingrese los datos y presione el botón de guardar, luego podrá ver su destino en la sección
                        destinos:</p>
                </header>
                <div>
                    <div class="row g-1 justify-content-center">
                        <div class="col-md-3 col-4">
                            {{ form.region.label_tag }}
                            {{ form.region }}
                        </div>
                        <div class="col-md-3 col-4">
                            {{ form.pais.label_tag }}
                            {{ form.pais }}
                        </div>
                        <div class="col-md-3 col-4">
                            {{ form.categoria.label_tag }}
                            {{ form.categoria }}
                        </div>
                    </div>

                    <div class="mt-3">
                        {{ form.titulo.label_tag }}
                        {{ form.titulo }}
                    </div>
                    <div class="mt-3">
                        {{ form.descripcion.label_tag }}
                        {{ form.descripcion }}
                    </div>
                    <div class="mt-3">
                        {{ form.imagen.label_tag }}
                        {{ form.imagen }}
                    </div>
                    {{form.media}}

                    <input class="btn btn-outline-secondary" type="submit" data-bs-toggle="modal"
                        style="text-align: center;" data-bs-target="#exampleModal" value="Guardar destino" />
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Destino cargado</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Su destino fue cargado con éxito!
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-outline-secondary" href="{% url 'index' %}">Volver al
                                        inicio</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}