{% extends "base.html" %}

{% block navegacion %}
{% include "navegacion.html" %}
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Acerca de nosotros</h2>


    <div class="text-center">
        <p>
            Somos un blog dedicado a explorar el mundo y compartir nuestras experiencias de viaje. Aquí encontrarás
            destinos únicos, consejos prácticos para viajeros y relatos que inspiran a descubrir nuevos lugares.
        </p>

        <p>
            Detrás de este proyecto estamos dos apasionados por los viajes:
        </p>

        <p>
            <strong>Nicolás:</strong> Aventurero incansable y curioso por la cultura local, se encarga de documentar
            nuestras rutas y experiencias.
        </p>

        <p>
            <strong>Rosanna:</strong> Apasionada por la planificación y los detalles, comparte tips útiles para que cada
            viaje sea más fácil y enriquecedor.
        </p>

        <p>
            Además, contamos con colaboradores que aportan su experiencia y pasión por los viajes.
        </p>

        <p>
            Nuestro objetivo es inspirarte a salir, explorar y disfrutar de cada aventura. ¡Únete a nosotros y descubre
            el mundo a través de nuestros ojos!
        </p>
    </div>

    {% endblock %}